-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class => "#{@sortby == "title" ? "hilite" : ""}"} 
        %a#title_header{:href => movies_path({"sortby" => "title"})} Movie Title
      %th{:class => "#{@sortby == "rating" ? "hilite" : ""}"} 
        %a#rating_header{:href => movies_path({"sortby" => "rating"})} Rating
      %th{:class => "#{@sortby == "release" ? "hilite" : ""}"} 
        %a#release_date_header{:href => movies_path({"sortby" => "release"})} Release Date
      %th= link_to 'More Info', movies_path
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path